/* Body Styling */
body {
    
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:white (11, 11, 11)
}

  /*signup form container*/
  .signup-form{
    background-color: #e4e6e8;      
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  /*heading*/
  .signup-form h2{
    margin-bottom: 20px;
    color:#333;
  }

  /* Inputs */
.signup-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: rgb(207, 195, 195);        
    outline: none;
    font-size: 16px;
}

/* Button */
.signup-form button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3b82f6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-form button:hover {
    background-color: #1e40af;
}

/* Login link */
.signup-form .login-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-form .login-link a {
    text-decoration: none;
    color: #3b82f6;
}

/* Login box */
.login-form {
    background-color: #d1d5db;  
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Heading */
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Labels */
.login-form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* Input fields */
.login-form input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;

    background-color: white;    
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

/* Submit button */
.login-form button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: #1e40af;
}


/* Centering the dashboard card */
.dashboard-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Dashboard card */
.dashboard-card {
    background-color: #d1d5db;   
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Heading */
.dashboard-card h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Paragraph text */
.dashboard-card p {
    color: #444;
    margin-bottom: 20px;
    font-size: 16px;
}




